<a href="https://colab.research.google.com/github/caagudo/Foodamental/blob/master/parte4_entregable2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [2]:
!wget https://raw.githubusercontent.com/IA1819/entregable2-caagudo/master/train.csv?token=Ajz-w3teXE2ZyoJiS2AAjIKU3lzJqd2kks5cvZZfwA%3D%3D -O train.csv

--2019-04-15 12:53:40--  https://raw.githubusercontent.com/IA1819/entregable2-caagudo/master/train.csv?token=Ajz-w3teXE2ZyoJiS2AAjIKU3lzJqd2kks5cvZZfwA%3D%3D
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19171 (19K) [text/plain]
Saving to: ‘train.csv’

train.csv           100%[===================>]  18.72K  --.-KB/s    in 0.007s

2019-04-15 12:53:40 (2.63 MB/s) - ‘train.csv’ saved [19171/19171]

In [0]:
traindf = pd.read_csv("train.csv")

In [0]:
traindf.drop(['Gender'], axis=1, inplace=True)

In [0]:
traindata = traindf.values

In [0]:
descriptores,clases = traindata[:,0:-1],traindata[:,-1]

In [0]:
clases = [1 if clase==True else 0 for clase in clases]

In [0]:
knn = KNeighborsClassifier(n_neighbors=1)

In [9]:
knn.fit(descriptores,clases)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=1, p=2,
           weights='uniform')

In [13]:
!wget https://raw.githubusercontent.com/IA1819/entregable2-caagudo/master/test.csv?token=Ajz-w10di0IxtUIeCjEh_6bOTm8zxih7ks5cvbnmwA%3D%3D -O test.csv

--2019-04-15 12:57:54--  https://raw.githubusercontent.com/IA1819/entregable2-caagudo/master/test.csv?token=Ajz-w10di0IxtUIeCjEh_6bOTm8zxih7ks5cvbnmwA%3D%3D
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5679 (5.5K) [text/plain]
Saving to: ‘test.csv’

test.csv            100%[===================>]   5.55K  --.-KB/s    in 0s

2019-04-15 12:57:54 (75.5 MB/s) - ‘test.csv’ saved [5679/5679]

In [0]:
testdf = pd.read_csv("test.csv")
testdf.drop(['Gender'], axis=1, inplace=True) 
testdata = testdf.values

In [0]:
predicciones = knn.predict(testdata)

In [0]:
predicciones = [True if prediccion==1 else False for prediccion in predicciones]

In [0]:
soldf = pd.DataFrame(list(enumerate(predicciones)))

In [0]:
soldf.columns = ['Id','Prediction']

In [19]:
soldf

      Id  Prediction
0      0        True
1      1       False
2      2        True
3      3       False
4      4       False
5      5       False
6      6       False
7      7       False
8      8        True
9      9       False
10    10        True
11    11       False
12    12        True
13    13       False
14    14       False
15    15       False
16    16       False
17    17        True
18    18       False
19    19       False
20    20       False
21    21       False
22    22       False
23    23       False
24    24        True
25    25        True
26    26        True
27    27        True
28    28        True
29    29       False
..   ...         ...
116  116        True
117  117       False
118  118        True
119  119       False
120  120       False
121  121        True
122  122       False
123  123       False
124  124       False
125  125        True
126  126       False
127  127       False
128  128       False
129  129       False
130  130       False
131  131       False
132  132        True
133  133       False
134  134       False
135  135       False
136  136        True
137  137       False
138  138       False
139  139       False
140  140       False
141  141       False
142  142       False
143  143       False
144  144        True
145  145       False

[146 rows x 2 columns]

In [0]:
soldf.to_csv("submission.csv",sep=',',index=False)